# Used by the 'register' script to update slash commands
DISCORD_TOKEN=your_bot_token

# Used by the Worker to verify requests and connect to Turso
DISCORD_PUBLIC_KEY=your_discord_public_key
TURSO_DATABASE_URL=your_turso_db_url
TURSO_AUTH_TOKEN=your_turso_auth_token
